<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="sticker_maker"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- WhatsApp sticker pack ContentProvider (#46). Serves runtime-generated
             packs from filesDir/wa_export. readPermission restricts reads to
             WhatsApp, which holds com.whatsapp.sticker.READ. -->
        <provider
            android:name=".StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />

        <!-- Grants target apps (Telegram) read access to exported sticker
             files for the targeted-share flow (sticker_maker/platform). -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_paths" />
        </provider>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- So we can resolve/launch WhatsApp's ENABLE_STICKER_PACK intent (#46). -->
        <package android:name="com.whatsapp"/>
        <package android:name="com.whatsapp.w4b"/>
        <!-- So we can target Telegram directly with the exported .webm (the
             guided @Stickers flow) and resolve tg:// deep links. -->
        <package android:name="org.telegram.messenger"/>
        <package android:name="org.telegram.messenger.web"/>
        <package android:name="org.thunderdog.challegram"/>
    </queries>
</manifest>
